<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62880191670-68g0pvjgclrj23cvt6n8tml4oaoqmslq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62880191670-68g0pvjgclrj23cvt6n8tml4oaoqmslq</string>
	<key>API_KEY</key>
	<string>AIzaSyDS3jrKV1xh4tNkSVcBdRTJN4Q7Dw4VF3M</string>
	<key>GCM_SENDER_ID</key>
	<string>62880191670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocCourseWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>my-bloc-photo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-bloc-photo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62880191670:ios:c165c5f72140d1303ec217</string>
</dict>
</plist>